In [75]:
import this

In [2]:
print (" this is my first program")

 this is my first program

In [3]:
len ("alien")

5

In [4]:
3/5 (NUMERIC CONCEPTS APPLICABLE)

0.6

In [ ]:
TWO WAY PROGRAMMING ARE DONE IN PYTHON 
 1. SCRIPT BASED CONCEPT 
 2. OOPS BASED CONCEPT (MODULAR CODING)

In [5]:
1+2 (to restore these syntax you need to store this )

3

In [ ]:
a = 10

In [ ]:
a is nothing but a variable that stores the integer 10
only in python we are able to set integer in the variable,
whereas in other programing lang we need to define or set the int, varchar, char method to store. And also in python dont need to 
give dataset types in the coding mode

In [10]:
a = 10

In [12]:
type(a)

int

In [17]:
b = 48.67

In [18]:
type (b)

float

In [19]:
c = "jijith" (for string either you need double or single quotes)

In [20]:
type (c)

str

In [23]:
d = 5 +6j

In [24]:
d   (notation hear for imaginary numbers are j 5 is real numbers and 6j are imaginary number (complex numbers))

(5+6j)

In [26]:
type (d)

complex

In [27]:
if your program is wrong, the python will hit you error. learn to debugging the program
first read out the error and fix bug it. debugging youself which is best wayto learn

SyntaxError: invalid syntax (360785142.py, line 1)

In [29]:
g= True

In [30]:
type (g)

bool

In [31]:
*a = 7

SyntaxError: starred assignment target must be in a list or tuple (3538723190.py, line 1)

In [33]:
_a = 45 (this underscore variables will work but the stared varaibles not work and only used in list or tuple )

In [34]:
type (a)

int

In [36]:
_a = 45

In [38]:
_a (becuase, hear the recent int values are taken in pythin not the entire row values)

45

In [39]:
a = 5663
b = "jijith"
c = 5 + 9j
d = True 
e = 326.98

In [40]:
a

5663

In [41]:
d

True

In [42]:
a1 = 100

In [44]:
a + a1

5763

In [45]:
a - a1

5563

In [46]:
a,b,c,d,e = 255, "jijth", 4 +6j, False, 56.23 (hear you also map yourn datasets in the single line itself and also you need to give
                                              5 variables and 5 datasets otherwise ity through you an errorc.)

In [47]:
d

False

c

In [49]:
type (c)

complex

In [50]:
c.imag    (Inbuilt funchion are available just simply wrote variable name and put . tab you will able to acess the inbiult funchions according to the datatype )

6.0

In [51]:
c.real

4.0

In [52]:
c.conjugate

In [54]:
b.capitalize

In [55]:
a = "jijth"

In [57]:
a + " 4" (this is how you want to concetenate the strings )

'jijth 4'

In [58]:
a + str(4) {this method is also applicable type casting or otherwise put data function in front of ints }

'jijth4'

In [59]:
True + True  (True = 1 and False = 0 )

2

In [61]:
True - False

1

In [62]:
1 + True

2

In [63]:
input () (you can also use user input function to write the codes )

jijith prasanth is learning python

'jijith prasanth is learning python '

In [64]:
a = input()   (now, this a variable is holduing the input datas for the refernce )

jijth

In [65]:
a = '55'

In [66]:
a

'55'

In [67]:
b = 45

In [68]:
a + b

TypeError: can only concatenate str (not "int") to str

In [70]:
int(a) + b (type casting is must when yuo deal with this kind scenerio, you cant conc the int function like string  )

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1218905896.py, line 1)

In [76]:
int (a) + b

100